{% extends 'base1.html' %}

{% block content %}  
  <h2 class="title"><b>Pankhuri Tayal</b><br>
    Computer Science Engineering,<br>
    PES University<br>
    Bangalore, India<br>
    pankhuritayal963@gmail.com
    </h2>
  <h2 class="title"><b>Pranamya P Bhat</b><br>
    Computer Science Engineering,<br>
    PES University<br>
    Bangalore, India<br>
    pranamyabhat27@gmail.com
    </h2>
  <h2 class="title"><b>Pratheeksha P</b><br>
    Computer Science Engineering,<br>
    PES University<br>
    Bangalore, India<br>
    pratheeksha930@gmail.com
    </h2>
  <h2 class="title"><b>Harshita R</b><br>
    Computer Science Engineering,<br>
    PES University<br>
    Bangalore, India<br>
    harshitar1@gmail.com
    </h2>
{% endblock %}