{% extends 'base3.html' %}

{% block content %}
  
<h2 class="title">Current Prescriptions</h2>
    <form method="POST">
        <div class="row row-space">
            <div class="col-2">
                <div class="input-group">
        

                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Add new prescription</button>
                    </div>
                    <br><br><label class="label">Name of medicine</label>
                    <input class="input--style-4" type="text" name="ntb"><br><br>
                    <label class="label">No.of tablets</label>
                    <input class="input--style-4" type="number" name="num"><br><br>
                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit">Add </button>
                    </div>

                    

                </div>
            </div>
        </div>
    </form>
{% endblock %}