{% extends 'base1.html' %}

{% block content %}  
<h2 class="title">Register : </h2>
<form method="POST">
    <div class="row row-space">
        <div class="col-2">
            <div class="input-group">   
                <label class="label">Username</label>
                <input class="input--style-4" type="text" name="nm" autocomplete="off">
                <label class="label">Password</label>
                <input class="input--style-4" type="password" name="key" autocomplete="off">
                <label class="label">Confirm password</label>
                <input class="input--style-4" type="password" name="ckey" autocomplete="off">
                <label class="label">Email id</label>
                <input class="input--style-4" type="email" name="em" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="p-t-15">
        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
    </div>
</form>

{% endblock %}


