{% extends 'base1.html' %}

{% block content %}  
  <h2 class="title">About this project  &nbsp: </h2>
  <h1 style="font-weight:300; font-size:large; font-weight: 700; color: white;">Welcome to Medicine Tracker!</h1><br>
  <p style="font-weight:300; font-size:large; font-weight: 500; color: white;">Are you forgetting to take the required doses of your medicines? Don't worry! We've got you. Medicine Tracker is here to lend you a helping hand. Just register with our easy to use interface and enjoy the unlimited services of our application. To begin using our services, add your prescriptions and doses into the app. We will automatically let you know when you need to take them. :) </p>
    
{% endblock %}
