{% extends 'base3.html' %}

{% block content %}  
<div class="reminders wrapper--w680">
    <div class="card bg-gra-01 card-4">
        <div class="card-body">
            <h2 class="title">Reminders ~~~ </h2>
            <h1 style="font-weight:300; font-size:medium;">blah blah blahh....</h1>
        </div>
    </div>
</div>
<div class="health_info wrapper--w680">
    <div class="card bg-gra-01 card-4">
        <div class="card-body">
            <h2 class="title">Health Chart ~~~ </h2>
            <h1 style="font-weight:300; font-size:medium;">blah blah blahh....</h1>
        </div>
    </div>
</div>
<div class="prescription wrapper--w680">
    <div class="card bg-gra-01 card-4">
        <div class="card-body">
            <h2 class="title">Prescriptions ~~~ </h2>
            <h1 style="font-weight:300; font-size:medium;">blah blah blahh....</h1>
        </div>
    </div>
</div>    
{% endblock %}